/* VARIABLES */
:root{ 
    --red: #E50914; 
    --dark: rgb(16, 16, 16);  
    --light: #fff; 
}



/* GENERAL BODY AND TYPOGRAPHY */
* {
    padding:3px;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    display: flex;
    /* justify-content: space-around; */
}

header h1 {
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--red);
}

body { 
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    color:var(--light);
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgb(20, 20, 20) 0%, rgba(32,32,32,1) 30%, rgb(64, 64, 64) 100%);}



h1, article>p { 
    font-family: 'Bebas Neue', cursive;
}

h2 { 
    font-size: 1.5rem;
}

p { 
    line-height: 1.5rem;
}

a { 
    text-decoration: none;
}

button { 
    justify-content: center;
    background: rgb(183, 183, 183);
    border-radius: 7px;
}

a:hover, 
button:hover { 
    cursor: pointer;
    box-shadow: 0px 0px 8px;

}


/* MAIN STYLING */
/* #heroButton { 
    font-size: 6rem;
    padding: 30px 50px;
} */

audio, 
.toggle { 
    display: none;
}

/* #card{
    display:flex;
    justify-content: center;
    align-content:center;
    height:100vh;
    background-color:rgb(246, 237, 239);
}

.card0, .card1, .card2, .card3, .card4{
    display:inline-block;
    height: 220px;
    width: 175px;
    border-style: solid, black, 4px; 
    background-color: rgb(232, 226, 235);

}

.card0:hover, .card1:hover, .card2:hover, .card3:hover, .card4:hover{
    box-shadow:0px 0px 10px;

} */

/* .fitToSize{
    width:fit-content;
} */

#hero1{
    display:flex;
    justify-content: space-around;
    justify-content: center;
   
}

.tile-box { 
    padding: 20px;
    height: 400px;
}

.tile.is-parent { 
    transition: transform .2s;
}

.tile.is-parent:hover { 
    transform: scale(1.1);
}

.displayedDrink {
    width: 350px;
    padding: 0px 20px 0px 20px;
}

.displayedTitle {
    font-size: 30px;
    padding: 0px 20px 0px 0px;
}

.displayedDesc {
    width: 300px;
    font-size: 18px;
    text-align: center;
}

#hero1 {
    padding: 100px 96px 100px 96px;
}

div > h2 { 
    margin: 30px 0 30px 20px; 
}

.optionRow { 
    margin-top: 30px;
}