/* VARIABLES */
/* :root{ 

} */



/* GENERAL BODY AND TYPOGRAPHY */
* {
    padding:3px;
    margin: 0;
    box-sizing: border-box;
}

body { 
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

#card{
    display:flex;
    justify-content: center;
    align-content:center;
    height:100vh;
    background-color:rgb(246, 237, 239);
}

h1 { 
    font-size: 2rem;
    font-weight: 800;
    color: pink;
}

h2 { 
    font-size: 1.8rem;
    font-weight: 600;
}

p { 
    line-height: 1.5rem;
}

a { 
    text-decoration: none;
}

button { 
    justify-content: center;
    background: rgb(183, 183, 183);
    border-radius: 7px;
}

a:hover, 
button:hover { 
    cursor: pointer;
    box-shadow: 0px 0px 8px;

}


/* MAIN STYLING */
    /* First Prompt */
#heroButton { 
    font-size: 6rem;
    padding: 30px 50px;
}