/* VARIABLES */
/* :root{ 

} */



/* GENERAL BODY AND TYPOGRAPHY */
* {
    padding:3px;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 20px;
    background-color: #E50914;
    display: flex;
    justify-content: space-around;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    font-weight: 800;
    color: #ffffff;
}

body { 
    
    font-family: 'Bebas Neue', cursive;
    font-size: 16px;
    color:white;
    background-color: rgba(0, 0, 0, 0.913);
}


h2 { 
    font-size: 1.8rem;
    font-weight: 600;
}

p { 
    line-height: 1.5rem;
}

a { 
    text-decoration: none;
}

button { 
    justify-content: center;
    background: rgb(183, 183, 183);
    border-radius: 7px;
}

a:hover, 
button:hover { 
    cursor: pointer;
    box-shadow: 0px 0px 8px;

}


/* MAIN STYLING */

.transition-el { 
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0; 
    left: 0; 
    z-index: 101;
    background-color: black;
    opacity: 0;
    pointer-events:none;
    transition: 2s ease-out;
}

.transition-el.is-active { 
    opacity: 1;
    pointer-events: all;
}

div.transition-el { 
    font-size: 4rem;
    color: #E50914;
    display: flex;
    justify-content: center;
    align-items: center;
}

audio, 
.toggle { 
    display: none;
}

#hero1{
    display:flex;
    justify-content: space-around;
    justify-content: center;
   
}

.tile-box { 
    padding: 20px;
    height: 400px;
}

.displayedDrink {
    width: 350px;
    padding: 0px 20px 0px 20px;
}

.displayedTitle {
    font-size: 30px;
    padding: 0px 20px 0px 0px;
}

.displayedDesc {
    width: 300px;
    font-size: 18px;
    text-align: center;
}

#hero1 {
    padding: 100px 96px 100px 96px;
}